a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
body {
  background-color: #c4ccf5cb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.logo {
  position: absolute;
  left: 1%;
  border-radius: 0 0 50% 50%;
  top: 0;
  z-index: 999;
  font-weight: 500;
  padding: 15px;
  height: 50px;
  width: 50px%;
  background-image: url(/images/Logo\ BTBIA.png);
}
.logo img {
  height: 100%;
  width: 100%;
}
.nav {
  display: flex;
  position: absolute;
  right: 0;
  border-radius: 1rem 0 0 1rem;
  top: 1%;
  width: 80%;
  background: rgba(180, 11, 247);
  z-index: 999;
}
.nav a {
  display: inline-block;
  padding: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
}
.nav a:hover {
  background-color: rgba(166, 71, 204);
  overflow: hidden;
}
#nav1 {
  border-radius: 1rem 0 0 1rem;
}
.main {
  position: absolute;
  width: 100%;
  height: 350px;
  top: 10%;
  left: 0;
  background-color: #491bf2;
  transition: transform 300ms ease;
}
.slide {
  margin-top: 5%;
  display: block;
  position: absolute;
  max-width: 300px;
  margin-left: 10%;
}
#slider {
  transform-style: preserve-3d;
  position: relative;
  width: 200px;
  height: 300px;
}
input[type="radio"] {
  display: none;
}
section {
  position: relative;
}
#slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 500ms ease;
}
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3 {
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.4), 0 10px 5px rgba(0, 0, 0, 0.6);
  transform: translate3d(0%, 5%, 0px);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide1 {
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3), 0 10px 5px rgba(0, 0, 0, 0.6);
  transform: translate3d(55%, 0, -100px);
  opacity: 80%;
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2 {
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3), 0 10px 5px rgba(0, 0, 0, 0.6);
  transform: translate3d(-55%, 0, -100px);
  opacity: 80%;
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 600px) {
}
